
body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 700px;
  background-color: #f4d5bb;}
div {
  height: 400px;
  background-size: cover;
  position: relative;
  margin: 20px 0 0 0;
  border-radius: 12px;
}
h1 {
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 75px;
  color: #ff0000;
  margin: 60px 0 0 0;
}
h2 {
  text-align: center;
  color: #ff0000;
  margin: 0px 0 70px 0;
}

li {
  display: inline;
  padding: 1px;
}
ul {
  padding: 10px;
  background: red;
  font-size: 30px;
  margin: 0;
  color: pink;
}

p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}
first{
background: cover;
}

.show-description p {
  height: 150px;
}


.first{
  background-image: url("https://s.yimg.com/ny/api/res/1.2/5hFE3OCxlkGqXxGVgX0upg--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en-US/homerun/ccn_656/1ea13c57c34429cad3f1373d145a0a27");
}
.second{
  background-image: url("http://newwestend.com/wp-content/uploads/2016/11/Oxford-Street-Christmas-Lights-Switch-On-2016.jpg");
}
.third{
  background-image: url("https://images.unsplash.com/photo-1496767000195-3841ae3f97f4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=213f2fdf4d5394cfb9e7177f8a4d5bad&auto=format&fit=crop&w=750&q=80");
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
