  <link rel="stylesheet" type="text/csabc.css">
  .custom {
    cursor: url("https://banner2.kisspng.com/20180705/gpt/kisspng-rail-transport-train-computer-icons-train-station-icon-5b3ee402a100b4.1493746315308482586595.jpg"), auto;
  }body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    max-width: 700px;
    background-color: #d3d3d3;}
  div {
    height: 400px;
    background-size: cover;
    position: relative;
    margin: 20px 0 0 0;
    border-radius: 12px;
  }
  h1 {
    font-family: 'Londrina Shadow', cursive;
    text-align: center;
    font-size: 75px;
    color: black;
    margin: 60px 0 0 0;
  }
  h2 {
    text-align: center;
    color: black;
    margin: 0px 0 70px 0;
  }
  p {
    color: rgba(255,255,255,1);
    background: #d3d3d3;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
  }
  first{
  background: cover;
  }

  .show-description p {
    height: 150px;
  }


  .first{
    background-image: url("https://cdn.londonandpartners.com/asset/leicester-square-swiss-court-leicester-square-9482e43c530bcd1083f102386fb951c1.jpg");
  }
  .second{
    background-image: url("https://assets.londonist.com/uploads/2018/06/i875/shutterstock_1012156075.jpg");
  }
  .third{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/03/a0/57/8b/harry-potter-shop-at.jpg");
  }
  .price {
    float: right;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 50px;
      margin-top: 20px;
      line-height: 40px;
    }
    h2 {
      font-size: 20px;
      margin: 20px 0 30px 0;
    }
    div {
      margin: 20px 12px 0 12px;
    }
    p {
      font-size: 20px;
      line-height: 24px;
    }
